@model EmployeeManagement.Models.Employee

<h2>Are you sure you want to delete this employee?</h2>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
